/* Define CSS Variables */
:root {
  --primary-color: #FFA0C1;
  --text-color: #1E1E1E;
  --secondary-bg: #F0F0F0;
  --disabled-bg: #D3D3D3;
  --disabled-text: #A9A9A9;
  --error-color: #D32F2F;
  --placeholder-color: #767676;
  --border-color: #CCCCCC;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #F9F9F9;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

p { 
  color: var(--error-color); 
}

input { 
  color:rgb(171, 171, 171); 
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background: var(--primary-color);
  color: var(--text-color); 
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer; 
}

.submit-button:disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text); 
  cursor: not-allowed; 
  opacity: 0.7; 
}

/* Layout */
.outer-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-container {
  padding: 1rem;
  background-color: #FFFFFF;
  border: 1px solid var(--primary-color);
  margin-bottom: 1rem;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  text-align: center;
}

.header img {
  width: 70px;
  height: auto;
}

/* Message components */
.message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
 }
 
 .message-card {
   position: relative;
   width: 100%;
   padding: 1rem;
   box-sizing: border-box;
   background: #FFFFFF;
   border: 1px solid var(--primary-color);
   word-break: break-word;
   box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
 }

 .message-card small {
  font-size: 0.9rem;
  font-weight: 300;
  display: block;
  margin-top: 1rem;
  color: var(--placeholder-color);
}

.message-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.message-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.like-button {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.like-button.liked {
  background-color: var(--primary-color); 
  border-color: var(--primary-color);
}

.like-count {
  margin-left: 8px;
  font-size: 1rem;
  color: var(--placeholder-color);
}

.time-ago {
  margin-left: auto;
  font-size: 0.8rem;
  color: var(--placeholder-color);
}

/* Form styles */
form { 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 350px;
}

.message-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.message-form textarea {
  resize: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.message-form textarea::placeholder {
  color: var(--placeholder-color);
}

.message-form button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Edit/Delete Buttons */
.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.save-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.cancel-button {
  background-color: var(--secondary-bg);
  color: var(--text-color);
}

.submit-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.submit-button:disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
  cursor: not-allowed;
  opacity: 0.7;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.9rem;
}

.edit-button {
  padding: 5px 10px;
  border-radius: 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #E0E0E0;
}

.delete-message button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.delete-message button:hover {
  background-color: var(--secondary-bg);
  color: var(--error-color); /* Highlight the delete button in red */
}

.delete-message button:focus {
  outline: 2px solid var(--primary-color); /* Add focus outline for accessibility */
}

div > div > p {
  color: var(--text-color);
}

/* Signup/Login Containers */
.signup-container, 
.login-container {
  margin: 2rem;
}

/* Edit Actions */
.top-right-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 0.5rem;
}

.edit-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-textarea {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.edit-buttons {
  display: flex;
  gap: 0.5rem;
 }


/* Responsive design */
@media (min-width: 400px) {
  .header h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .header img {
    width: 80px;
  }
}

@media (max-width: 600px) {
  .app-container {
    padding: 1rem;
  }

  .message-form textarea {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 1rem;
  }

  .header h1 {
    font-size: 2.25rem;
    margin: 2rem 0;
  }

  .header img {
    width: 100px;
  }

  .message-form button {
    width: 50%;
  }
}
